{% extends 'main/base.html' %} {%block title%} University Home page{%endblock%}
{%block style%} {%load static%}
<link rel="stylesheet" href="{% static 'main/home.css' %}" />
{%endblock%} {%block content%}
<div class="outer">
  {% if user.is_authenticated %}
  <a class="anim" href="../form"> Click here to fill form</a>

  {% else %}
  {% endif %}
  <div class="content">
    <h1>Welcome to Our University!</h1>
    <h3>We offer Best Education that you can access from your home</h3>
    <div>
      <h2>Hall Of Fame</h2>
      <div id="toppers">
        <img src="{% static 'main/images/student1.png' %}" alt="" width="300" height="400" />
        <img src="{% static 'main/images/student2.jpeg' %}" alt="" width="300" height="400" />
        <img src="{% static 'main/images/student3.jpg' %}" alt="" width="300" height="400" />
      </div>
    </div>
  </div>
  {% endblock %}
</div>