body {
  min-height: 100vh;
}
#foot {
  position: sticky;
  top: 100%;
}
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

.nav-item a:active {
  color: white;
  background-color: black;
}
